@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* 전체 레이아웃 */
.wrap {
  width: 960px;
  background-color: antiquewhite;
  margin: auto;
}
/* 메뉴 */
.navi {
  padding: 10px 0;
  border-bottom: 1px solid #333;
  background-color: #fff;
}
.navi ul {
  display: flex;
  margin: auto;
  width: 600px;
  background-color: #bed6eb;
}
.navi ul li {
  width: calc(100% / 4);
  text-align: center;
}
.navi ul li a {
  display: block;
  line-height: 60px;
}
.navi ul li a:hover {
  color: #fafafa;
  background-color: #728aa0;
}
/* 콘텐츠 */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.contents{
    width: 400px;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    background-color: #ccc;
}
#intro:target{
    color: #fafafa;
    background-color: #728aa0;
}
#room:target{
    color: #fafafa;
    background-color: #728aa0;
}
#reservaion:target{
    color: #fafafa;
    background-color: #728aa0;
}