@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* 전체 레이아웃 */
.wrap {
  width: 960px;
  margin: auto;
}
/* 메뉴 */
.navi {
  padding: 10px 0;
  border-bottom: 1px solid #333;
  background-color: #fff;
}
.navi ul {
  display: flex;
  margin: auto;
  width: 600px;
  background-color: #bed6eb;
}
.navi ul li {
  width: calc(100% / 4);
  text-align: center;
}
.navi ul li a {
  display: block;
  line-height: 60px;
}
.navi ul li a:hover {
  color: #fafafa;
  background-color: #728aa0;
}
