@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* 전체 레이아웃 */
.wrap {
  width: 960px;
  margin: auto;
}
/* 메뉴 */
.navi {
  padding: 10px 0;
  border-bottom: 1px solid #333;
  background-color: #fff;
}
.navi ul {
  display: flex;
  margin: auto;
  width: 600px;
  background-color: #bed6eb;
}
.navi ul li {
  width: calc(100% / 4);
  text-align: center;
}
.navi ul li a {
  display: block;
  line-height: 60px;
}
.navi ul li a:hover {
  color: #fafafa;
  background-color: #728aa0;
}
/* 예약하기 */
#singUp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  /* background-color: #728aa0; */
}
#singUp fieldset {
  padding: 20px;
  border: 1px solid #df3d3d;
}
#singUp fieldset legend {
  font-size: 13px;
  padding: 0 10px;
}
#singUp li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.user label{
  width: 60px;
  display: inline-block;
}
.user input{
  width: 100%;
  padding: 10px;
}
/* #singup fieldset:first-of-type li label{
    width: 60px;
    display: inline-block;
}
#singup fieldset:first-of-type li input{
  width: 250px;
  height: 40px;
  padding: 10px;
}
#singup fieldset:last-of-type li input{
  margin-right: 10px;
} */